In [ ]:
lista = [] # Uma lista vazia ou sem elementos 
pontos_cardeais = ["Norte", "Sul", "Leste", "Oeste"] # Lista de Strings
mundiais_brasil = [1958, 1962, 1970, 1994, 2002] # Lista de números
abacaixi = ["abacaxi", 49.00, 12.40, 0.39, 0.1, 1.00] # Lista mista 
paises_capitais = [ ["Brasil", "Brasilia"], ["Argentina", "Buenos Aires"] ]

In [ ]:
print(abacaixi[0])

print(abacaixi[1])

abacaxi
49.0

In [ ]:
nome = "Amauri"
print(nome[0])

A

In [ ]:
# Múltiplos índices, caso se apliquem
print(paises_capitais)
print(paises_capitais[0])
print(paises_capitais[0][1])

[['Brasil', 'Brasilia'], ['Argentina', 'Buenos Aires']]
['Brasil', 'Brasilia']
Brasilia

In [ ]:
# Indexação nogativa
carros = ["Mercedes", "BMW", "Ferrari", "Volvo"]
print(carros [-1])

Volvo

In [ ]:
# Tamanho da lista 
tamanho = len(carros)
print(tamanho)

4

In [ ]:
# Alterar valores dentro da lista
print(carros)
carros[0] = "Fiat"
print(carros)

['Mercedes', 'BMW', 'Ferrari', 'Volvo']
['Fiat', 'BMW', 'Ferrari', 'Volvo']

In [ ]:
carros = ["Mercedes", "BMW", "Ferrari", "Volvo"]
print(carros[0][1]) 
# Nesse caso, carros[0] é uma string
# carros[0][1] é o segundo elemento dessa string
# que será a letra "e", de M*e*rcedes

e

In [ ]:
lista = []
print(lista)
lista.append("banana") # adciona banana ao fim da linsta
print(lista)
lista.append("jabuticaba") # Adiciona jabuticaba ao fim da lista
print(lista)
lista.append("carambola")
print(lista)

[]
['banana']
['banana', 'jabuticaba']
['banana', 'jabuticaba', 'carambola']

In [ ]:
# Para inserir em uma posição especifica, use insert()
lista.insert(0, "maça")
print(lista)

['maça', 'banana', 'jabuticaba', 'carambola']

In [ ]:
# Busca em uma lista
times_sp = ["Corinthians", "Palmeira", "Santos", "São Paulo"]

time = input("Inofrme o time que você procura: ")
if time in times_sp:
  print("Esse time está na lista")
else: 
  print("Este time não está na lista.")

Inofrme o time que você procura: Palmeira
Esse time está na lista

In [ ]:
# Remove elementos:
times_rj = ["America", "Bangu", "Botafogo", "Fluminence", "Vasco"]
time = input("Informe o time a ser excluído: ")
if time in times_rj:
  times_rj.remove(time)
else:
  print("O time não fazia parte da lista")
print(times_rj)

Informe o time a ser excluído: fla
O time não fazia parte da lista
['America', 'Bangu', 'Botafogo', 'Fluminence', 'Vasco']

In [ ]:
frutas = ["banana", "maça", "uva", "morango"]
print( max(frutas) )

uva

In [ ]:
listas = [5, 4, 3, 2, 1]
listas.sort()
print(listas)
listas.reverse()
print(listas)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]